{% extends 'base.html.twig' %}

{% block title %} {{ ad.title }} {% endblock %}

{% block body %}

    <div class="ad-title" style="background-image: url({{ ad.coverImage }})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2">
                <strong>{{ ad.rooms }} chambres</strong> pour <strong> {{ ad.price }} €</strong> par nuit.
            </p>
            <a href="#" class="btn btn-primary">Réserver !</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3"> {{ ad.content }}</div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="http://placehold.it/64x64" alt="Avatar">
                    </div>
                    <div class="col">
                        <h3>Joseph du pont</h3>
                        <span class="badge badge-primary">3 annonces</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci debitis, dolores eligendi est
                    in ipsam itaque nesciunt optio quam?</p>
                <p>Aliquid culpa, cupiditate debitis deleniti dolore est ipsum laboriosam nihil nobis odio provident
                    quae, ratione rem totam vel veniam vero?</p>
                <p>Distinctio earum ex illum quos rem! Accusantium consequatur, eius eligendi hic illo, iure iusto
                    maiores modi mollitia perspiciatis, possimus suscipit!</p>
            </div>
        </div>
    </div>


{% endblock %}